<div class="mx-auto border-8 border-slate-300 rounded p-5 bg-white w-3/4">
  <center>
    <%= render 'flightinfo' %>
    <h1 class="text-center">Passenger(s):</h1>
    <%= render 'form' %>
  </center>
</div>