<div class="mx-auto border-8 border-slate-300 rounded p-5 bg-white w-3/4">
	<center>
		<h1> You're Booked! </h1>
		<%= render 'flightinfo' %>

	<h1> Passenger(s) </h1>

	<% @passengers.map do |passenger|%>
		<table class="table-auto text-lg">
			<thead>
			<tr>
		    <th>Name</th>
			  <th>Email</th>
			</tr>
			</thead>
		  <tr>
		    <td><%=passenger.name%></td>
		    <td><%=passenger.email%></td>
		  </tr>
		</table>
	<% end %>
	</center>
</div>
